<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改病人分配')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-brfpb-edit" th:object="${tBrfpb}">
            <div class="form-group">
                <label class="col-sm-3 control-label">病人体检号：</label>
                <div class="col-sm-8">
                    <input name="brtjh" th:field="*{brtjh}" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">病人姓名：</label>
                <div class="col-sm-8">
                    <input name="brxm" th:field="*{brxm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">病人身份证：</label>
                <div class="col-sm-8">
                    <input name="brsfz" th:field="*{brsfz}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">病人电话：</label>
                <div class="col-sm-8">
                    <input name="brdh" th:field="*{brdh}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">操作工号：</label>
                <div class="col-sm-8">
                    <input name="czgh" th:field="*{czgh}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">操作人姓名：</label>
                <div class="col-sm-8">
                    <input name="czrxm" th:field="*{czrxm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">操作时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="czsj" th:value="${#dates.format(tBrfpb.czsj, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">科室名称：</label>
                <div class="col-sm-8">
                    <input name="ksmc" th:field="*{ksmc}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">科室代码：</label>
                <div class="col-sm-8">
                    <input name="ksdm" th:field="*{ksdm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">医生工号：</label>
                <div class="col-sm-8">
                    <input name="ysgh" th:field="*{ysgh}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">医生姓名：</label>
                <div class="col-sm-8">
                    <input name="ysxm" th:field="*{ysxm}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">医生点评时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="ysdpsj" th:value="${#dates.format(tBrfpb.ysdpsj, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">医生点评结果：</label>
                <div class="col-sm-8">
                    <input name="ysdpjg" th:field="*{ysdpjg}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">医生点评结果修改时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="ysdpxgsj" th:value="${#dates.format(tBrfpb.ysdpxgsj, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否点评判别：</label>
                <div class="col-sm-8">
                    <input name="sfdppb" th:field="*{sfdppb}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否提取结果判别：</label>
                <div class="col-sm-8">
                    <input name="sftqjgpb" th:field="*{sftqjgpb}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/brfpb";
        $("#form-brfpb-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-brfpb-edit').serialize());
            }
        }

        $("input[name='czsj']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='ysdpsj']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='ysdpxgsj']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>